# venv
development/Docker/api/api-venv/

# 一時ファイル
development/Docker/api/__pycache__/
development/Docker/api/components/__pycache__/

# モデルファイル
development/Docker/api/models/
!development/Docker/api/models/.gitkeep