/* check.htmlのstyleを変更するcss */
html{
    background-color: black;
}

body{
	width: 400px;
    height: 900px;
	margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

header h2{
    font-size: 16px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

header{
    padding-bottom: 10px;
}

/* レシピカード */

.recipe_name {
    width: 310px;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 20px 16px 50px;
    margin-left: 10px;
    text-align: left;
    background-color: rgb(220, 197, 139);
    border-radius: 20px 20px 0px 0px;
}


.recipe_page{
    display: inline-grid;
    max-height: 800px;
    overflow-y: auto;
    padding: 0px 10px; /* 表の周囲の余白 */
}


.recipe_page::-webkit-scrollbar{
    display: none;
}

.recipe_card{
    margin: 0px;
    height: 1000px;
    width: 380px;
    background-color: rgb(243, 243, 243);
    border-radius: 0px 0px 20px 20px;
}

.recipe_card_main{
    display: flex;
}

.recipe_detail{
    height: 80px;
    width: 180px;
    padding: 8px;
    font-size: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe_price_set{
    display: flex;
    height: 40px;
    width: 200px;
    align-items: flex-end;
    position: relative;
}

.recipe_price::before{
    content: "￥ ";
    font-size: 20px;
}

.recipe_price{
    position: absolute;
    left: 0px;
    width: 160px;
    font-size: 30px;
    text-align: right;
}

.recipe_yen{
    position: absolute;
    left: 164px;
    bottom: 4px;
}


.recipe_img img{
    height: 138px;
    width: 180px;
    object-fit: cover;
    border-radius: 0px 0px 20px 0px;
}









.ingredients{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredients_list{
    display: flex;
    position: relative;
    align-items: center;
    height: 80px;
    width: 360px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 8px 16px rgba(0, 0, 0, 0.1);
}

.ingredients_list.overlay {
    position: relative;
}
.ingredients_list.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 310px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.774); /* うすい白色のフィルター */
    pointer-events: none; /* イベントをブロックしないように */
    z-index: 1; /* フィルターを要素の上に配置 */
    border-radius: inherit; /* 親要素の角丸を継承 */
    opacity: 0; /* 最初は透明 */
    transition: opacity 0.2s; /* アニメーションの設定 */
}
.ingredients_list.overlay.overlay-active::before {
    opacity: 1; /* フィルターを表示する */
}


.ingredients_list img{
    position: absolute;
    left: 60px;
    height: 40px;
    width: 50px;
    object-fit: contain;
}

.ingredients_name{
    position: relative;
    left: 90px;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
}

.ingredients_price::before{
    content: "￥ ";
    font-size: 14px;
}

.ingredients_price{
    position: relative;
    left: 20px;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}









/* チェックボックス */
.checkbox-container {
    position: relative;
    left: 20px;
    top: 4px;
  }
  
  .checkbox {
    margin-right: .5rem;
    position: relative;
    display: inline-flex;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid #cccfdb;
    transition: all 0.3s ease;
    cursor: pointer;
  
    svg {
      fill: none;
      stroke: #ea5514;
      stroke-dasharray: 28;
      stroke-dashoffset: 28;
      transition: all 0.3s ease;
      transform: scale(0.8);
      position: absolute;
      top: -2px;
      left: -2px;
  
      &:first-child {
        stroke: #fff;
      }
    }
  }
  
  .check {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: absolute;
    top: 0;
    left: 0;
    
    &:after {
      position: absolute;
      width: 24px;
      height: 24px;
      content: '';
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
    }
  
    &:checked {
      & + .checkbox {
        color: #ea5514;
        border-color: #ea5514;
  
        svg {
          stroke-dashoffset: 0;
        }
      }
    }
}
  
.template {
    display: none;
}























/* フッター */
footer{
    position: fixed;
    bottom: 0px;
    width: 400px;
    border-top: 2px solid black;    
    background-color: rgb(255, 255, 255);
}

footer img{
    height: 30px;
    margin: 14px 18px 0px 18px;
}



















  