/* main.htmlのstyleを変更するcss */
html{
    background-color: black;
}

body{
	width: 400px;
    height: 900px;
	margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

header h2{
    font-size: 16px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

/* お気に入りの店舗と店舗一覧の切り替え */
.store_ber{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.store_ber div{
    background-color: rgb(236, 236, 236);
    height: 28px;
    width: 140px;
}

.store_ber p{
    font-size: 14px;
    padding: 1.5px;
}

.store_ber div:nth-child(1){
    border-radius: 4px 0px 0px 4px;
}

.store_ber div:nth-child(2){
    border-radius: 0px 4px 4px 0px;
}

.store_ber div p{
    margin: 2px 0px 0px 3px;
}

.white_back{
    background-color: white;
    border-radius: 4px;
}



/* 店舗の表示 */
.store_sheet{
    display: inline-grid;
    max-height: 740px;
    overflow-y: auto;
    padding: 10px; /* 表の周囲の余白 */
}

.store_sheet::-webkit-scrollbar{
    display: none;
}

.store_sheet img{
    height: 180px;
    margin-top: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.store_sheet img:nth-child(1){
    margin-top: 0px;
}

/* フッター */
footer{
    position: fixed;
    bottom: 0px;
    width: 400px;
    border-top: 2px solid black;
    background-color: white;
}

footer img{
    height: 30px;
    margin: 14px 18px 0px 18px;
}