/* check.htmlのstyleを変更するcss */
html{
    background-color: black;
}

body{
	width: 400px;
    height: 900px;
	margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

header h2{
    font-size: 16px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

header{
    padding-bottom: 10px;
}

/* map */

.back {
    position: absolute;
    top: 60px;
    left: 30px;
}
.back a{
    text-decoration: none;
}

.map_title {
    font-weight: bold;
    font-size: 20px;
}

.map {
    position: absolute;
    height: 640px;
    width: 380px;
    margin: 10px;
    background-color: rgb(222, 222, 222);
}

.map div{
    color: rgb(255, 255, 255);
}

.map div:nth-child(40){
    color: black;
}
.map div:nth-child(41){
    color: black;
}

.corner1 {
    position: relative;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner2 {
    position: relative;
    top: 20px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner3 {
    position: relative;
    top: 30px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner4 {
    position: relative;
    top: 40px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner5 {
    position: relative;
    top: 50px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner6 {
    position: relative;
    top: 60px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner7 {
    position: relative;
    top: 70px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner8 {
    position: relative;
    top: 80px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner9 {
    position: relative;
    top: 90px;
    left: 10px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}

.corner11 {
    position: absolute;
    top: 10px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner12 {
    position: absolute;
    top: 10px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner13 {
    position: absolute;
    top: 10px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner14 {
    position: absolute;
    top: 10px;
    left: 300px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner15 {
    position: absolute;
    top: 80px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner16 {
    position: absolute;
    top: 80px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner17 {
    position: absolute;
    top: 80px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner18 {
    position: absolute;
    top: 150px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner19 {
    position: absolute;
    top: 150px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner20 {
    position: absolute;
    top: 150px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner21 {
    position: absolute;
    top: 220px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner22 {
    position: absolute;
    top: 220px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner23 {
    position: absolute;
    top: 220px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner24 {
    position: absolute;
    top: 290px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner25 {
    position: absolute;
    top: 290px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner26 {
    position: absolute;
    top: 290px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner27 {
    position: absolute;
    top: 360px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner28 {
    position: absolute;
    top: 360px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner29 {
    position: absolute;
    top: 360px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner30 {
    position: absolute;
    top: 430px;
    left: 90px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner31 {
    position: absolute;
    top: 430px;
    left: 160px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner32 {
    position: absolute;
    top: 430px;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner33 {
    position: absolute;
    top: 500px;
    left: 90px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner34 {
    position: absolute;
    top: 500px;
    left: 160px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner35 {
    position: absolute;
    top: 500px;
    left: 230px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}
.corner36 {
    position: absolute;
    top: 500px;
    left: 300px;
    height: 60px;
    width: 30px;
    background-color: rgb(139, 103, 103);
}

.corner37 {
    position: absolute;
    top: 600px;
    left: 50px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner38 {
    position: absolute;
    top: 600px;
    left: 120px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.corner39 {
    position: absolute;
    top: 600px;
    left: 190px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}
.corner40 {
    position: absolute;
    top: 600px;
    left: 260px;
    height: 30px;
    width: 60px;
    background-color: rgb(139, 103, 103);
}

.rezi {
    position: absolute;
    top: 100px;
    left: 350px;
    height: 350px;
    width: 30px;
    background-color: rgb(246, 255, 0);

}

.gate {
    position: absolute;
    top: 480px;
    left: 360px;
    height: 80px;
    width: 20px;
    background-color: rgb(203, 255, 83);
}

.item{
    position: absolute;
    top: 750px;
    left: 10px;
    height: 80px;
    width: 380px;
    border-radius: 16px;
    background-color: rgb(255, 192, 114);
}

.item div{
    font-size: 20px;
}

.item div:nth-child(2){
    font-size: 28px;
}


.pin{
    position: absolute;
    top: 170px;
    left: 96px;
}

.pin img{
    height: 50px;
    width: 50px;
}



















/* フッター */
footer{
    position: fixed;
    bottom: 0px;
    width: 400px;
    border-top: 2px solid black;    
    background-color: rgb(255, 255, 255);
}

footer img{
    height: 30px;
    margin: 14px 18px 0px 18px;
}